{
    "node_name": "",
    "cpu_limit": 0,
    "memory_limit": 0,
    "disk_df_path": "df_output.txt",

    "bot": {
        "name": "",
        "token": "",
        "admins": []
    },

    "proxy": {
        "host": null,
        "port": null
    }
}